body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sponsors tbody > tr > td{	
	    border-top: 0px !important; 
}

.jumbotron {
	padding: 5px;
}

#mate-logo{
	margin-top: -20px;
}

#ieee-logo{
	margin-top: -20px;
	
	
}

#abb-logo{
	margin-top: -8px;
}

/* #twitter-widget-0{
	/*margin-top: -20px !important;*/
	/*max-height: 300px !important;
	min-height: 40vh !important;
	width: 100% !important;
} */

#twitter-widget-0{
	/*margin-top: -20px !important;*/
	/*max-height: 300px !important;*/
	min-height: 70vh !important;
	width: 100% !important;
}

/* #twitter-widget-1{
	margin-top: -5px !important;
	min-height: 40vh !important;
	height: auto !important;
} */

.row .table-responsive{
	overflow-x: hidden;
}